<div class="centered-div">
  <div class="formbold-form-wrapper">
    <form>
      <div class="justify-center">
        <img src="assets/logo.jpg" alt="icono" class="img-icon" />
      </div>
      <div class="formbold-form-title">
        <h2>Registro</h2>
        <p [class]="clase">{{msj}}</p>
        <p class="text-green">{{exito}}</p>
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Email</label>
        <input
          type="email"
          name="email"
          class="formbold-form-input"
          [(ngModel)]="email"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Contraseña </label>
        <input
          type="password"
          name="address"
          class="formbold-form-input"
          [(ngModel)]="clave"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address2" class="formbold-form-label">
          Repetir Contraseña
        </label>
        <input
          type="password"
          name="address2"
          class="formbold-form-input"
          [(ngModel)]="clave2"
        />
      </div>

      <div class="formbold-checkbox-wrapper">
        <p class="mb-4 p-clave" routerLink="/login">Ya tengo una cuenta</p>
      </div>

      <ion-button
        shape="round"
        color="danger"
        expand="full"
        (click)="validarCampos()"
        >Crear Cuenta</ion-button
      >
    </form>
  </div>
</div>
