<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-justify-content-around">
      <button routerLink="/mis-imagenes">
        Mis imágenes
        <i class="fa-solid fa-images"></i>
      </button>
      <button routerLink="/cosas-lindas">
        Imágenes
        <i class="fa-solid fa-images"></i>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <h2>Gráfico de las fotos con más votos</h2>
    <canvas id="chart">{{ this.chart }}</canvas>
  </main>
</ion-content>
