main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 100%;
}
h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

button {
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  background-color: #7d2ae8;
  height: 100%;
}

canvas {
  max-width: 100%;
}
