.m-0 {
  margin: 0;
}

img {
  height: 350px;
  width: 90%;
}

ion-card-content {
  padding: 0;
}

.img {
  display: flex;
  justify-content: center;
}

.div-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
