/* login.page.css */

ion-content {
  --background: #f7f7f7; /* Fondo claro */
  --ion-font-family: "Montserrat", sans-serif; /* Fuente personalizada */
}

ion-item {
  margin-bottom: 20px;
}

ion-label {
  font-size: 16px;
  color: #333;
}

ion-input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

ion-button[type="submit"] {
  background-color: #4caf50; /* Verde claro */
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

ion-button[type="submit"]:hover {
  background-color: #3e8e41; /* Verde oscuro */
}
