<div class="centered-div">
  <div class="formbold-form-wrapper">
    <form>
      <div class="justify-center">
        <img src="assets/logo.png" alt="icono" class="img-icon" />
      </div>
      <div class="formbold-form-title">
        <h2 class="">Iniciar sesión</h2>
      </div>
      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Correo</label>
        <input
          type="email"
          name="email"
          class="formbold-form-input"
          [(ngModel)]="correo"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Contraseña</label>
        <input
          type="password"
          name="clave"
          class="formbold-form-input"
          [(ngModel)]="password"
        />
      </div>
      <div class="justify-between formbold-mb-3">
        <button class="btn-violet" (click)="cargaUsuario(usuarios[0])">
          Fede
        </button>
        <button class="btn-violet" (click)="cargaUsuario(usuarios[1])">
          Luna
        </button>
        <button class="btn-violet" (click)="cargaUsuario(usuarios[2])">
          Clari
        </button>
      </div>
      <button class="btn" (click)="validarSesion()">
        <span>Iniciar Sesión</span>
      </button>
    </form>
  </div>
</div>
