ion-spinner {
  width: 100px;
  height: 100px;
}

#div {
  display: flex;
  justify-content: center;
  z-index: 9999; /* Asegura que esté por encima del contenido */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
h2 {
  margin-bottom: 3rem;
}
