@if(this.fire.termino) {

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-justify-content-around">
      <button>
        Mis imagenes
        <i class="fa-solid fa-images"></i>
      </button>
      <button (click)="subirCosasLindas()">
        Subir foto
        <i class="fa-solid fa-camera"></i>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (item of this.listImg; track $index) {

  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuario: {{item.usuario}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="img">
        <img [src]="item.path" alt="" />
      </div>
    </ion-card-content>
    <div class="div-btns">
      <ion-card-subtitle>Fecha: {{item.fecha}}</ion-card-subtitle>
      <ion-button shape="round" color="tertiary">
        <i class="fa-regular fa-heart"></i>
      </ion-button>
    </div>
  </ion-card>
  }
</ion-content>
} @else {
<h2>Falso spiiner</h2>
}
