.container-menu {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-child {
  padding: 20px;
  text-align: center;
}
.div-img {
  padding: 30% 20px 0 20px;
}
.img-welcome {
  width: 60%;
}

.div-child h2 {
  font-size: 28px;
  font-weight: 700;
}
.div-child p {
  font-size: 14px;
}
